.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; /* Updated height to 30px */
  background-color: #26264c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Adjusted padding */
  color: #FFF;
  z-index: 1000;
}

.links {
  display: flex;
  align-items: center;
  width: 50%; /* External links take up the first 50% */
}

.links a {
  color: white; /* Set link color to white */
  text-decoration: none;
  margin-right: 25px;
  font-family: Poppins, sans-serif;
}

.ticker-container {
  display: flex;
  align-items: right;
  justify-content: right;
  width: 50%; /* Set your desired width */
}

.hmove { 
  display: flex; 
}
.hitem { 
  width: 100%; flex-shrink: 0; 
}
.hwrap {
  width: 40%;
  overflow: hidden; 
}

@keyframes tickerh {
  0% { transform: translatex(100%); }
  100% { transform: translatex(-200%); }
}
.hmove { 
  animation: tickerh linear 15s infinite; 
}
.hmove:hover {
  animation-play-state: paused;
}

.ticker-symbol {
  font-size: 12px;
}

.ticker-value {
  font-size: 15px;
}

p b {
  font-size: 17px;
}

@media screen and (min-width: 1024px) {
  .top-bar {
  height: 55px; /* Updated height to 30px */
  background-color: #26264c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%; /* External links take up the first 50% */
}

.links a {
  margin-right: 5px;
  margin-top:3px;
  font-weight: bolder;
  padding: 5px;
  font-size: 15px;
  font-family: Poppins, sans-serif;
}

.ticker-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.hmove { 
  display: flex; 
}
.hitem { 
  display: flex;
  margin-right: 2px;
  width: 100%; 
  flex-shrink: 0; 
}
.hwrap {
  width: 40%;
}

.ticker-symbol {
  font-weight: bold;
  font-size: 12px;
}

.ticker-value {
  margin-left: 4px;
  color:lightgreen;
  font-weight: bold;
  font-size: 14px;
}

p b {
  font-size: 14px;
}

.hmove { 
  animation: tickerh linear 15s infinite; 
}
}

@media screen and (max-width: 1024px) {
  .top-bar {
  height: 55px; /* Updated height to 30px */
  background-color: #26264c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* External links take up the first 50% */
}

.links a {
  margin-right: 5px;
  margin-top:3px;
  font-weight: bolder;
  padding: 5px;
  font-size: 15px;
  font-family: Poppins, sans-serif;
}

.ticker-container {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.hmove { 
  display: flex; 
}
.hitem { 
  display: flex;
  margin-right: 2px;
  width: 100%; 
  flex-shrink: 0; 
}
.hwrap {
  width: 70%;
}

.ticker-symbol {
  font-weight: lighter;
  font-size: 12px;
}

.ticker-value {
  margin-left: 4px;
  color:lightgreen;
  font-weight: bold;
  font-size: 14px;
}

p b {
  font-size: 14px;
}

.hmove { 
  animation: tickerh linear 10s infinite; 
}
}

@media screen and (max-width: 850px) {
  .top-bar {
    height: 60px; /* Updated height to 30px */
    background-color: #26264c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
  }

  .links {
    display: flex;
    align-items: center;
    margin-top: 2px;
    padding: 3px;
    background-color: #ff3355;
    width: 100%; /* External links take up the first 50% */
    height: 60%;
  }

  .links a {
    margin-right: 10px;
    margin-top:3px;
    font-weight: bold;
    padding: 4px;
    font-size: 12px;
    font-family: Poppins, sans-serif;
  }

  .ticker-container {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
  }

  .hmove { 
    display: flex; 
  }
  .hitem { 
    display: flex;
    margin-right: 10px;
    width: 100%; 
    flex-shrink: 0; 
  }
  .hwrap {
    width: 100%;
  }

  .ticker-symbol {
    font-weight: lighter;
    font-size: 12px;
  }
  
  .ticker-value {
    margin-left: 5px;
    color:lightgreen;
    font-weight: bold;
    font-size: 12px;
  }
  
  p b {
    font-size: 12px;
  }

  .hmove { 
    animation: tickerh linear 15s infinite; 
  }
}

@media screen and (max-width: 480px) {
  .top-bar {
    height: 60px; /* Updated height to 30px */
    background-color: #26264c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
  }

  .links {
    display: flex;
    align-items: center;
    margin-top: 2px;
    padding: 3px;
    background-color: #ff3355;
    width: 100%; /* External links take up the first 50% */
    height: 60%;
  }

  .links a {
    margin-right: 10px;
    margin-top:3px;
    font-weight: bold;
    padding: 4px;
    font-size: 12px;
    font-family: Poppins, sans-serif;
  }

  .ticker-container {
    display: flex;
    align-items: right;
    justify-content: right;
    width: 100%;
  }

  .hmove { 
    display: flex; 
  }
  .hitem { 
    display: flex;
    margin-right: 10px;
    width: 100%; 
    flex-shrink: 0; 
  }
  .hwrap {
    width: 100%;
  }

  .ticker-symbol {
    font-weight: lighter;
    font-size: 12px;
  }
  
  .ticker-value {
    margin-left: 5px;
    color:lightgreen;
    font-weight: bold;
    font-size: 12px;
  }
  
  p b {
    font-size: 12px;
  }

  .hmove { 
    animation: tickerh linear 10s infinite; 
  }
}